$pink-shade: #f06292;

html {
  font-family: Roboto, "Meiryo UI", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
}

::selection {
  background-color: $pink-shade;
}

.btn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

span.badge {
  &.new:after {
    content: '';
  }
}

i.material-icons.solid_on_hover {
  color: rgba(16, 16, 16, 0.15);
}

i.material-icons.solid_on_hover:hover {
  color: rgba(16, 16, 16, 1);
  cursor: pointer;
}

