@import "~materialize-css/sass/components/color";

$link-color: color('purple', 'lighten-2');

a {
  color: $link-color;
}

a:hover {
  color: lighten($link-color, 20%);
}

body {
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-fss-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -999;
}

[type="checkbox"] + label {
  left: 0;
}

.btn {
  margin-top: 10px;
}

.g-recaptcha {
  float: right;
}

@media (min-width: 900px) {
  .register {
    max-width: 50%;
  }
}
