body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  .brand-logo {
    max-height: 30px;
    height: auto;
    margin-top: 18px;
  }
}

.button-collapse {
  @extend .white-text;
}

nav {
  transition: background .45s ease-in-out;
  &.ex {
    transition: background .9s ease;
    background: rgba(173, 20, 87, 0.4);
  }
}
